@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

body {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
}
header {
  position: sticky;
  top: 0px;
}
.top-row {
  height: 40px;
  background-color: #f1f1f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-text,
.list-item a,
.copyright-text p{
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.2s linear;
}
.header-nav {
  height: 44px;
  background-color: rgba(250, 250, 252, 0.8);
  backdrop-filter: blur(20px);
}
.header-list {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  align-items: center;
  height: 100%;
  width: 996px;
  margin: auto;
}
.hero {
  height: 580px;
  background-position: center;
  background-size: cover;
  padding-top: 47px;
  text-align: center;
}
.iphone {
  background-image: url(../images/iphones.jpeg);
}
.hero-main-text {
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  color: #1d1d1f;
}
.hero-par {
  margin-top: 6px;
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 400;
  color: #1d1d1f;
}
.learn-more {
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  padding: 11px 21px;
  border-radius: 980px;
  background: #0071e3;
  border: none;
  color: #fff;
  margin-top: 19px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.learn-more:hover {
  background-color: #3a95f0;
  transform: scale(1.03);
}
.list-item a:hover {
  color: #8e8e8e;
  font-size: 13.7px;
  text-decoration: underline;
}
.airpods {
  background-image: url(../images/airpods.jpeg);
  margin: 12px 0px;
}
.watch {
  background-image: url(../images/applewatch.jpeg);
}
.products {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.card {
  height: 580px;
  background-position: center;
  background-size: cover;
  width: calc(50% - 6px);
  padding-top: 58px;
  text-align: center;
}
.ipad-air {
  background-image: url(../images/ipad-air.jpeg);
}
.macbook-air {
  background-image: url(../images/macbook-air.jpeg);
}
.card-par {
  margin-top: 9px;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  color: #1d1d1f;
}
.learn-more2 {
  padding: 7px 15px;
  font-size: 14px;
  line-height: 1.42859;
  font-weight: 400;
  color: #fff;
  background-color: #0071e3;
  border-radius: 980px;
  border: none;
  margin-top: 17px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.learn-more2:hover {
  background-color: #3a95f0;
  transform: scale(1.1);
}
.card-text {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  color: #1d1d1f;
}
.ipad {
  background-image: url(../images/ipad.jpeg);
}
.macbook-pro {
  background-image: url(../images/macbook.jpeg);
}
.white {
  color: #fff;
}
.watch-se-3 {
  background-image: url(../images/applewatches.jpeg);
  padding-top: 400px;
}
.ipad-pro {
  background-image: url(../images/ipad-pro.jpeg);
}
.title {
  font-weight: 600;
}
footer {
  padding: 10px 24px 10px 24px;
  background-color: #f1f1f3;
}
.footer-nav {
  display: flex;
  justify-content: center;
  column-gap: 200px;
}
.line {
  border: 1px solid rgba(118, 112, 112, 0.3);
  margin: 20px 100px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.copyright-text{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.copyright-text p:hover{
  text-decoration: underline;
  color: #7c7878;
  cursor: pointer;
  font-size: 13.5px;
}
